.foundation {
    padding-top: 60px;

    .container {
        h1 {
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;
            letter-spacing: 0.04em;
            color: #343434;
            margin-bottom: 40px;
        }
    }

    &__link {
        margin-bottom: 80px;

        ul {
            display: flex;

            li {
                margin-right: 20px;

                a {
                    padding: 16px 64px;
                    font-family: "e-Ukraine";
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 28px;
                    color: #343434;
                    border: 2px solid #343434;
                    border-radius: 4px;
                }

                .active {
                    flex-direction: row;
                    align-items: flex-start;
                    border: none;
                    background: #ffd249;
                    border-radius: 4px;
                }
            }
        }

        .proj__leble {
            padding: 8px 40px;
        }

        .proj__leble-active {
            // padding: 10px 81px;
            border: none;
            background: #ffd249;
            border-radius: 4px;
        }
    }

    &__img {
        display: flex;
        margin-bottom: 72px;

        img {
            margin-right: -1px;
            max-width: 20%;
        }
    }

    &__history {
        max-width: 717px;

        &-title {
            margin-bottom: 32px;

            h2 {
                font-family: "e-Ukraine";
                font-style: normal;
                font-weight: 700;
                font-size: 32px;
                line-height: 40px;
                letter-spacing: 0.04em;
                color: #343434;
            }
        }

        &-text {
            margin-bottom: 64px;

            p {
                font-family: "e-Ukraine";
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.02em;
                color: #343434;
            }
        }
    }
}

.timeline {
    position: relative;
    height: 416px;
    background: #f4f4f4;
    background-image: url(../../src/img/jpg/timeline/timeline_bg.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    display: flex;
    align-items: center;

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        max-width: 1440px;
        margin: 0 auto;
        height: 340px;

        .timeline__item {
            position: relative;
            display: flex;
            flex-direction: row;
            display: flex;
            justify-content: space-evenly;
            width: calc(106vw - 120px);
            align-items: center;

            .timeline__item-01 {
                min-width: 20%;
                padding-left: 100px;
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
                letter-spacing: .04em;
            }

            .timeline__item-02 {
                min-width: 225px;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: .02em;
            }

            .timeline__item-03 {
                min-width: 16%;
                padding-left: 65px;
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
                letter-spacing: .04em;
            }

            .timeline__item-04 {
                min-width: 305px;
                padding-left: 21px;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: .02em;
            }

            .timeline__item-05 {
                min-width: 190px;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 0.02em;
            }

            .timeline__item-06 {
                min-width: 12%;
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
                letter-spacing: 0.04em;
            }

            .timeline__item-07 {
                width: 190px;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 0.02em;
            }

            .timeline__item-08 {
                min-width: 9%;
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
                letter-spacing: 0.04em;
            }

            .date {
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
                letter-spacing: 0.04em;
                margin-bottom: 5px;
                text-align: center;
            }

            img {
                width: 100%;
                display: inline-block;
            }

            p {
                font-family: "e-Ukraine";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 0.02em;
                max-width: 208px;
            }
        }
    }

    &__item {
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        img {
            width: 100%;
            display: inline-block;
        }

        .date {
            font-family: "e-Ukraine";
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            letter-spacing: 0.04em;
            margin-bottom: 5px;
            text-align: center;
        }

        p {
            font-family: "e-Ukraine";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.02em;
        }
    }
}

.timeline__item-img {
    position: relative;

    &-01 {
        position: absolute;
        left: -545px;
        top: -40px;
    }

    &-02 {
        position: absolute;
        left: -210px;
        top: -40px;
    }

    &-03 {
        position: absolute;
        left: 118px;
        top: -40px;
    }

    &-04 {
        position: absolute;
        left: 445px;
        top: -40px;
    }
}

.founder {
    padding-top: 72px;

    .container {
        display: flex;
    }

    &__img {
        position: relative;
        margin-right: 128px;

        &-logo {
            height: 105px;
            width: auto;

            img {
                position: absolute;
                left: 21px;
                top: 21px;
            }
        }
    }

    &__text {
        max-width: 628px;

        h1 {
            font-family: "e-Ukraine";
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 38px;
            letter-spacing: 0.02em;
            color: #343434;
            margin-bottom: 46px;
        }

        p {
            font-family: "e-Ukraine";
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.02em;
            color: #343434;
        }
    }
}

.team {
    padding-top: 72px;

    .wrapper {
        display: flex;
    }

    &__title {
        h2 {
            font-family: "e-Ukraine";
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;
            letter-spacing: 0.04em;
            color: #343434;
            margin-bottom: 32px;
        }
    }

    .wrapp {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__text {
        max-width: 610px;
        margin-right: 10px;

        p {
            font-family: "e-Ukraine";
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.02em;
            color: #343434;
            margin-bottom: 42px;
        }
    }

    &-part {
        display: flex;
        flex-direction: row;
        align-items: flex-end;

        img {
            margin-right: 49px;
        }
    }

    &__join {
        h3 {
            font-family: "e-Ukraine";
            font-style: normal;
            font-weight: 500;
            font-size: 28px;
            line-height: 36px;
            letter-spacing: 0.02em;
            color: #343434;
            margin-bottom: 48px;
        }

        a {
            max-width: 296px;
            margin-left: 0;
        }
    }

    &__photo {
        img {
            border-radius: 44px 0;
        }
    }

    .wrapp {
        display: flex;
    }
}

.activity {
    display: block;
    padding-top: 72px;

    h2 {
        font-family: "e-Ukraine";
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 0.04em;
        color: #343434;
        margin-bottom: 40px;
    }

    &__block {
        display: flex;
        justify-content: space-between;
        margin-bottom: 64px;
        padding-bottom: 64px;

        &:nth-child(2) {
            border-bottom: 1px solid black;
        }

        &:nth-child(3) {
            border-bottom: 1px solid black;
        }

        &:nth-child(5) {
            border-bottom: 1px solid black;
        }

        &-text {
            // max-width: 1240px;
            display: flex;
            justify-content: space-between;
        }

        img {
            border-radius: 44px 44px 44px 0;
            max-height: 320px;
        }

        .img__04 {
            border-radius: 0 44px 44px 44px;
        }

        .img__06 {
            margin-top: 115px;
            border-radius: 0 44px 44px 44px;
        }

        &-date {
            font-family: "e-Ukraine";
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 58px;
            letter-spacing: 0.02em;
            color: #ffd249;
            margin-right: 50px;
            min-width: 161px;
        }

        .border {
            color: #fff;
            -webkit-text-stroke: #000;
            -webkit-text-stroke-width: 1px;
        }

        .paragraph {
            p {
                font-family: "e-Ukraine";
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.02em;
                color: #343434;
                margin-right: 30px;
            }
        }

        p {
            font-family: "e-Ukraine";
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.02em;
            color: #343434;
            margin-right: 30px;
        }
    }

    .block-03 {
        margin-top: -100px;
    }
}

@media only screen and (max-width: 1200px) {

    .timeline__wrapper {
        height: 300px;

        .timeline__item {
            .timeline__item-01 {
                min-width: 26%;
                padding-left: 100px;
                font-size: 24px;
            }

            .timeline__item-02 {
                min-width: 225px;
                font-size: 15px;
            }

            .timeline__item-03 {
                min-width: 21%;
                padding-left: 65px;
                font-size: 24px;
            }

            .timeline__item-04 {
                min-width: 305px;
                padding-left: 21px;
                font-size: 15px;

            }

            .timeline__item-05 {
                min-width: 200px;
                font-size: 15px;
            }

            .timeline__item-06 {
                min-width: 16%;
                font-size: 24px;
            }

            .timeline__item-07 {
                width: 178px;
                font-size: 15px;
            }

            .timeline__item-08 {
                min-width: 11%;
            }
        }
    }
}

@media only screen and (max-width: 1080px) {
    .timeline {
        height: 330px;
    }

    .timeline__wrapper {
        height: 290px;

        .timeline__item {
            .timeline__item-01 {
                min-width: 26%;
                padding-left: 100px;
                font-size: 22px;
            }

            .timeline__item-02 {
                min-width: 225px;
                font-size: 14px;
            }

            .timeline__item-03 {
                min-width: 21%;
                padding-left: 65px;
                font-size: 22px;
            }

            .timeline__item-04 {
                min-width: 305px;
                padding-left: 21px;
                font-size: 14px;

            }

            .timeline__item-05 {
                min-width: 200px;
                font-size: 14px;
            }

            .timeline__item-06 {
                min-width: 16%;
                font-size: 22px;
            }

            .timeline__item-07 {
                width: 178px;
                font-size: 14px;
            }

            .timeline__item-08 {
                min-width: 11%;
                font-size: 22px;
            }
        }
    }

    .team {
        &__join {
            h3 {
                margin-bottom: 20px;
            }
        }

        &-part {
            img {
                display: none;
            }
        }
    }

    .founder {
        &__img {
            margin-right: 70px;
        }
    }
}

@media only screen and (max-width: 992px) {
    .timeline {
        height: 330px;
    }

    .timeline__wrapper {
        height: 290px;

        .timeline__item {
            .timeline__item-01 {
                min-width: 26%;
                padding-left: 100px;
                font-size: 21px;
            }

            .timeline__item-02 {
                min-width: 225px;
                font-size: 13px;
                padding-left: 40px;
            }

            .timeline__item-03 {
                min-width: 21%;
                padding-left: 65px;
                font-size: 21px;
            }

            .timeline__item-04 {
                min-width: 305px;
                padding-left: 45px;
                font-size: 13px;

            }

            .timeline__item-05 {
                min-width: 200px;
                font-size: 13px;
            }

            .timeline__item-06 {
                min-width: 15%;
                font-size: 21px;
            }

            .timeline__item-07 {
                width: 154px;
                font-size: 13px;
            }

            .timeline__item-08 {
                min-width: 17%;
                font-size: 21px;
                padding-left: 46px;
            }
        }
    }

    .activity {
        &__block {
            &-text {
                .activity__block-date {
                    margin-right: 15px;
                    min-width: 148px;
                    font-size: 44px;
                }
            }

            p {
                font-size: 14px;
            }
        }
    }
}

@media only screen and (max-width: 430px) {
    .foundation {
        padding-top: 72px;

        &__link {
            margin-bottom: 36px;

            ul {
                justify-content: space-between;

                li {
                    margin-right: inherit;

                    a {
                        padding: 14px 16px;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 28px;
                    }
                }
            }
        }

        &__img {
            max-width: 430px;
            display: flex;
            margin-bottom: 36px;
            display: flex;
            justify-content: space-between;

            img {
                max-width: 20%;
            }
        }

        &__history {
            max-width: inherit;

            &-title {
                margin-bottom: 32px;

                h2 {
                    font-weight: 500;
                    font-size: 28px;
                    line-height: 36px;
                    letter-spacing: 0.02em;
                }
            }

            &-text {
                margin-bottom: 36px;

                p {
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.02em;
                }
            }
        }
    }

    .timeline {
        min-height: 1205px;
        height: 100%;
        position: relative;
        background: inherit;
        background-image: url(../img/mobile_img/svg/timeline_bg_mobile.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;
        display: flex;
        align-items: center;

        &__wrapper {
            display: flex;

            flex-direction: inherit;
            justify-content: inherit;

            align-items: center;
            max-width: 430px;
            margin: 0 auto;

            .timeline__item {
                position: relative;
                display: flex;
                flex-direction: row;
                width: inherit;

                .timeline__item-01 {
                    position: absolute;
                    top: -457px;
                    left: 87px;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 28px;
                    letter-spacing: 0.02em;
                    padding-left: 0;
                }

                .timeline__item-02 {
                    position: absolute;
                    min-width: inherit;
                    max-width: 169px;
                    top: -93px;
                    left: -193px;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0.02em;
                    padding-left: 0;
                }

                .timeline__item-03 {
                    position: absolute;
                    min-width: inherit;
                    top: 76px;
                    left: 73px;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 28px;
                    letter-spacing: 0.02em;
                    padding-left: 0;
                }

                .timeline__item-04 {
                    position: absolute;
                    min-width: inherit;
                    max-width: 156px;
                    top: 425px;
                    left: -187px;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0.02em;
                    padding-left: 0;
                }

                .timeline__item-05 {
                    position: absolute;
                    min-width: 208px;
                    top: -355px;
                    left: -17px;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0.02em;
                    padding-left: 0;
                }

                .timeline__item-06 {
                    position: absolute;
                    top: -187px;
                    left: -187px;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 28px;
                    letter-spacing: 0.02em;
                    padding-left: 0;
                }

                .timeline__item-07 {
                    position: absolute;
                    min-width: 163px;
                    top: 205px;
                    left: -18px;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0.02em;
                    padding-left: 0;
                }

                .timeline__item-08 {
                    position: absolute;
                    top: 343px;
                    left: -187px;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 28px;
                    letter-spacing: 0.02em;
                    padding-left: 0;
                }

                .date {
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 29px;
                    letter-spacing: 0.04em;
                    margin-bottom: 5px;
                    text-align: center;
                }

                img {
                    width: 100%;
                    display: inline-block;
                }

                p {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    letter-spacing: 0.02em;
                    max-width: 208px;
                }
            }
        }

        &__item {
            max-width: 1440px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;

            img {
                width: 100%;
                display: inline-block;
            }

            .date {
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
                letter-spacing: 0.04em;
                margin-bottom: 5px;
                text-align: center;
            }

            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 0.02em;
            }
        }
    }

    .timeline__item-img {
        position: relative;

        &-01 {
            position: absolute;
            left: -60px;
            top: -480px;
        }

        &-02 {
            position: absolute;
            left: -60px;
            top: -211px;
        }

        &-03 {
            position: absolute;
            left: -60px;
            top: 55px;
        }

        &-04 {
            position: absolute;
            left: -60px;
            top: 322px;
        }
    }

    .founder {
        padding-top: 72px;

        .container {
            display: flex;
            flex-direction: column-reverse;
        }

        &__img {
            position: relative;
            margin-right: inherit;

            img {
                max-width: 100%;
                // width: 100%;
            }

            &-logo {
                height: 105px;
                width: auto;

                img {
                    position: absolute;
                    left: 21px;
                    top: 21px;
                }
            }
        }

        &__text {
            max-width: inherit;

            h1 {
                font-weight: 500;
                font-size: 28px;
                line-height: 36px;
                letter-spacing: 0.02em;
                margin-bottom: 22px;
            }

            p {
                display: none;
            }
        }
    }

    .team {
        padding-top: 36px;

        .wrapper {
            display: flex;
        }

        &__title {
            h2 {
                font-weight: 500;
                font-size: 28px;
                line-height: 36px;
                letter-spacing: 0.02em;
                margin-bottom: 32px;
            }
        }

        .wrapp {
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;
        }

        &__text {
            max-width: 610px;
            margin-right: 0;

            p {
                display: none;
            }
        }

        &-part {
            display: flex;
            justify-content: space-between;
            flex-direction: row;

            img {
                display: flex;
                max-width: 115px;
                max-height: 115px;
                margin-right: 13px;
            }
        }

        &__join {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-width: 100%;

            h3 {
                min-width: 248px;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                margin-bottom: inherit;
            }

            .button-yellow {
                font-size: 20px;
                line-height: 28px;
                padding: 14px 0px;
                max-width: 248px;
                width: 100%;
                text-transform: none;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        &__photo {
            img {
                width: 100%;
                margin-bottom: 36px;
            }
        }

        .wrapp {
            display: flex;
        }
    }

    .activity {
        display: block;
        padding-top: 36px;

        h2 {
            font-weight: 500;
            font-size: 28px;
            line-height: 36px;
            letter-spacing: 0.02em;
            margin-bottom: 24px;
        }

        &__block {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 50px;
            padding-bottom: 36px;

            &-date {
                margin-bottom: 36px;
            }

            &-text {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            img {
                border-radius: 44px 44px 44px 0;
            }

            .img__04 {
                width: 100%;
                margin-top: 25px;
                border-radius: 0 44px 44px 44px;
            }

            .img__06 {
                width: 100%;
                margin-top: 115px;
                border-radius: 0 44px 44px 44px;
            }

            .border {
                color: #fff;
                -webkit-text-stroke: #000;
                -webkit-text-stroke-width: 1px;
            }

            .paragraph {
                p {
                    font-family: "e-Ukraine";
                    font-style: normal;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.02em;
                    color: #343434;
                    margin-right: 30px;
                }
            }

            p {
                width: 100%;
                margin-bottom: 32px;
            }
        }
    }

    .img-block {
        img {
            width: 100%;
        }
    }
}

@media (min-width: 320px) and (max-width: 400px) {


    .timeline {
        min-height: 1205px;
        height: 100%;
        position: relative;
        background: inherit;
        background-image: url(../img/mobile_img/svg/timeline_bg_mobile.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center;
        display: flex;
        align-items: center;

        &__wrapper {
            display: flex;

            flex-direction: inherit;
            justify-content: inherit;

            align-items: center;
            max-width: 430px;
            margin: 0 auto;

            .timeline__item {
                position: relative;
                display: flex;
                flex-direction: row;
                width: inherit;

                .timeline__item-01 {
                    position: absolute;
                    top: -457px;
                    left: 87px;
                    font-weight: 500;
                    font-size: 17px;
                    line-height: 28px;
                    letter-spacing: 0.02em;
                    padding-left: 0;
                }

                .timeline__item-02 {
                    position: absolute;
                    min-width: inherit;
                    max-width: 169px;
                    top: -93px;
                    left: -193px;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0.02em;
                    padding-left: 15px;
                }

                .timeline__item-03 {
                    position: absolute;
                    min-width: inherit;
                    top: 76px;
                    left: 73px;
                    font-weight: 500;
                    font-size: 17px;
                    line-height: 28px;
                    letter-spacing: 0.02em;
                    padding-left: 0;
                }

                .timeline__item-04 {
                    position: absolute;
                    min-width: inherit;
                    max-width: 156px;
                    top: 425px;
                    left: -187px;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0.02em;
                    padding-left: 8px;
                }

                .timeline__item-05 {
                    position: absolute;
                    min-width: 208px;
                    top: -355px;
                    left: -17px;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0.02em;
                    padding-left: 0;
                }

                .timeline__item-06 {
                    position: absolute;
                    top: -187px;
                    left: -187px;
                    font-weight: 500;
                    font-size: 17px;
                    line-height: 28px;
                    letter-spacing: 0.02em;
                    padding-left: 10px;
                }

                .timeline__item-07 {
                    position: absolute;
                    min-width: 163px;
                    top: 205px;
                    left: -18px;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0.02em;
                    padding-left: 0;
                }

                .timeline__item-08 {
                    position: absolute;
                    top: 343px;
                    left: -187px;
                    font-weight: 500;
                    font-size: 17px;
                    line-height: 28px;
                    letter-spacing: 0.02em;
                    padding-left: 10px;
                }

                .date {
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 29px;
                    letter-spacing: 0.04em;
                    margin-bottom: 5px;
                    text-align: center;
                }

                img {
                    width: 100%;
                    display: inline-block;
                }

                p {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    letter-spacing: 0.02em;
                    max-width: 208px;
                }
            }
        }

        &__item {
            max-width: 1440px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;

            img {
                width: 100%;
                display: inline-block;
            }

            .date {
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
                letter-spacing: 0.04em;
                margin-bottom: 5px;
                text-align: center;
            }

            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 0.02em;
            }
        }
    }

    .timeline__item-img {
        position: relative;

        &-01 {
            position: absolute;
            left: -60px;
            top: -480px;
        }

        &-02 {
            position: absolute;
            left: -60px;
            top: -211px;
        }

        &-03 {
            position: absolute;
            left: -60px;
            top: 55px;
        }

        &-04 {
            position: absolute;
            left: -60px;
            top: 322px;
        }
    }

    .team-part img {
        margin-right: 4px;
        padding-left: 15px;
    }
}