.foundation {
    padding-top: 72px;

    &__link {
        margin-bottom: 80px;

        ul {
            display: flex;

            li {
                margin-right: 20px;

                a {
                    padding: 16px 64px;
                    font-family: 'e-Ukraine';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 28px;
                    color: #343434;
                    border: 2px solid #343434;
                    border-radius: 4px;
                }

                .active {
                    flex-direction: row;
                    align-items: flex-start;
                    border: none;
                    background: #FFD249;
                    border-radius: 4px;
                }
            }
        }
    }

    &__img {
        display: flex;
        margin-bottom: 72px;

        img {
            margin-right: -1px;
        }
    }

    &__history {
        max-width: 717px;

        &-title {
            margin-bottom: 32px;

            h2 {
                font-family: 'e-Ukraine';
                font-style: normal;
                font-weight: 700;
                font-size: 32px;
                line-height: 40px;
                letter-spacing: 0.04em;
                color: #343434;
            }
        }

        &-text {
            margin-bottom: 64px;

            p {
                font-family: 'e-Ukraine';
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.02em;
                color: #343434;
            }
        }
    }
}

.timeline {
    position: relative;
    height: 416px;
    background: #F4F4F4;
    background-image: url(../img/svg/timeline/timeline_bg.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;

    display: flex;
    align-items: center;

    &__wrapper {

        display: flex;
        align-items: center;
        max-width: 1440px;
        margin: 0 auto;

        .timeline__item {
            position: relative;
            display: flex;
            flex-direction: row;

            .timeline__item-01 {
                position: absolute;
                top: -140px;
                left: -540px;
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
                letter-spacing: 0.04em;
            }

            .timeline__item-02 {
                position: absolute;
                min-width: 225px;
                top: -170px;
                left: -275px;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 0.02em;
            }

            .timeline__item-03 {
                position: absolute;
                min-width: 225px;
                top: -140px;
                left: 80px;
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
                letter-spacing: 0.04em;
            }

            .timeline__item-04 {
                position: absolute;
                min-width: 296px;
                top: -170px;
                left: 340px;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 0.02em;
            }

            .date {
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
                letter-spacing: 0.04em;
                margin-bottom: 5px;
                text-align: center;
            }

            img {
                width: 100%;
                display: inline-block;
            }

            p {
                font-family: 'e-Ukraine';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 0.02em;
                max-width: 208px;
            }
        }
    }

    &__item {
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        img {
            width: 100%;
            display: inline-block;
        }

        .date {
            font-family: 'e-Ukraine';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            letter-spacing: 0.04em;
            margin-bottom: 5px;
            text-align: center;
        }

        p {
            font-family: 'e-Ukraine';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.02em;
        }
    }


}

.founder {
    padding-top: 72px;

    .container {
        display: flex;
    }

    &__img {
        position: relative;
        margin-right: 128px;

        &-logo {
            height: 105px;
            width: auto;

            img {
                position: absolute;
                left: 21px;
                top: 21px;
            }
        }
    }

    &__text {
        max-width: 628px;

        h1 {
            font-family: 'e-Ukraine';
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 38px;
            letter-spacing: 0.02em;
            color: #343434;
            margin-bottom: 46px;
        }

        p {
            font-family: 'e-Ukraine';
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.02em;
            color: #343434;
        }
    }
}

.team {
    padding-top: 72px;

    .wrapper {
        display: flex;
    }

    &__title {
        h2 {
            font-family: 'e-Ukraine';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;
            letter-spacing: 0.04em;
            color: #343434;
            margin-bottom: 32px;
        }
    }

    .wrapp {
        display: flex;
        justify-content: space-between;
    }

    &__text {
        max-width: 610px;
        margin-right: 126px;

        p {
            font-family: 'e-Ukraine';
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.02em;
            color: #343434;
            margin-bottom: 42px;
        }
    }

    &-part {
        display: flex;
        flex-direction: row;

        img {
            margin-right: 49px;
        }
    }

    &__join {
        h3 {
            font-family: 'e-Ukraine';
            font-style: normal;
            font-weight: 500;
            font-size: 28px;
            line-height: 36px;
            letter-spacing: 0.02em;
            color: #343434;
            margin-bottom: 48px;
        }
    }

    &__photo {
        img {
            border-radius: 44px 0;
        }
    }

    .wrapp {
        display: flex;
    }
}

.activity {
    display: block;
    padding-top: 72px;

    h2 {
        font-family: 'e-Ukraine';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 0.04em;
        color: #343434;
        margin-bottom: 40px;
    }

    &__block {
        display: flex;
        justify-content: space-between;
        margin-bottom: 64px;
        padding-bottom: 64px;

        &:not(:last-child) {
            border-bottom: 2px solid #343434;
        }

        &-text {
            // max-width: 1240px;
            display: flex;
            justify-content: space-between;
        }

        img {
            border-radius: 44px 44px 44px 0;
        }

        .img__04 {
            margin-top: 25px;
            border-radius: 0 44px 44px 44px;
        }

        .img__06 {
            margin-top: 25px;
            border-radius: 0 44px 44px 44px;
        }

        &-date {
            font-family: 'e-Ukraine';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            line-height: 58px;
            letter-spacing: 0.02em;
            color: #FFD249;
            margin-right: 50px;
            min-width: 161px;
        }

        .border {
            color: #fff;
            -webkit-text-stroke: #000;
            -webkit-text-stroke-width: 1px;
        }

        .paragraph {
            p {
                font-family: 'e-Ukraine';
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.02em;
                color: #343434;
                margin-right: 30px;
            }
        }

        p {
            font-family: 'e-Ukraine';
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.02em;
            color: #343434;
            margin-right: 30px;
        }
    }
}