.back {
    padding-top: 72px;
    margin-bottom: 60px;

    &__wrapp {
        display: flex;

        img {
            margin-right: 20px;
            rotate: 180deg;
        }

        p {
            font-family: 'e-Ukraine';
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.02em;
            color: #343434;
        }
    }
}

.pay {
    h2 {
        font-family: 'e-Ukraine';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 0.04em;
        color: #343434;
        margin-bottom: 48px;
    }

    &__button {
        ul {
            display: flex;
            margin-bottom: 80px;
        }

        a {
            padding: 16px 54px;
            font-family: 'e-Ukraine';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 28px;
            color: #343434;
            border: 2px solid #343434;
            border-radius: 4px;
            margin-right: 20px;
        }

        .active {
            flex-direction: row;
            align-items: flex-start;
            border: none;
            background: #FFD249;
            border-radius: 4px;
        }
    }
}