.footer {
    .container {
        display: flex;
    }

    padding-top: 120px;
    background: #343434;

    &-support {
        min-width: 300px;
        margin-right: 287px;

        h3 {
            font-family: 'e-Ukraine';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 28px;
            letter-spacing: 0.02em;
            color: #FFD249;
            margin-bottom: 16px;
        }

        p {
            font-family: 'e-Ukraine';
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.02em;
            color: #FFFFFF;
            margin-bottom: 16px;
        }

        .support-send {
            padding-bottom: 120px;

            &-form {
                display: flex;
                align-items: center;
                margin-bottom: 8px;

                &-send {
                    position: inherit;
                    width: 96px;
                    min-height: 62px;
                    background: #FFFFFF;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08), inset 0px 4px 12px #F5F5F5;
                    border-radius: 12px;
                    margin-right: 40px;

                    font-family: 'e-Ukraine';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 28px;
                    color: #343434;
                    text-align: center;
                }

                .button-yellow {
                    min-height: 62px;
                    min-width: 253px;
                    font-family: 'e-Ukraine';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 28px;
                    color: #343434;
                }
            }

            .change {
                font-family: 'e-Ukraine';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 0.02em;
                color: #FFFFFF;
            }
        }
    }

    .contacts {
        display: flex;
        flex-direction: column;

        h3 {
            font-family: 'e-Ukraine';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            letter-spacing: 0.02em;
            color: #FFD249;
            margin-bottom: 16px;
        }

        &__tel {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 88px;
            margin-bottom: 16px;

            a {
                font-family: 'e-Ukraine';
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.02em;
                color: #FFFFFF;
            }
        }

        &__social {
            display: flex;
            flex-direction: column;

            a {
                font-family: 'e-Ukraine';
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.02em;
                color: #FFD249;
                margin-bottom: 16px;
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 430px) {
    .footer {
        padding-bottom: 64px;

        .container {
            display: flex;
            flex-direction: column;
        }

        padding-top: 64px;
        background: #343434;

        &-support {
            min-width: 300px;
            margin-right: 287px;

            h3 {
                font-weight: 500;
                font-size: 20px;
                line-height: 28px;
            }

            p {

                font-weight: 300;
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 16px;
            }

            .support-send {
                padding-bottom: 120px;

                &-form {
                    display: flex;
                    align-items: center;
                    margin-bottom: 8px;

                    &-send {
                        position: inherit;
                        width: 96px;
                        min-height: 44px;
                        background: #FFFFFF;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08), inset 0px 4px 12px #F5F5F5;
                        border-radius: 12px;
                        margin-right: 40px;

                        font-family: 'e-Ukraine';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 28px;
                        color: #343434;
                        text-align: center;
                    }

                    .button-yellow {
                        min-height: inherit;
                        min-width: inherit;
                        padding: 8px 23px;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 28px;
                    }
                }

                .change {
                    font-family: 'e-Ukraine';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 18px;
                    letter-spacing: 0.02em;
                    color: #FFFFFF;
                }
            }
        }

        .contacts {
            display: flex;
            flex-direction: column;

            h3 {
                font-family: 'e-Ukraine';
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                letter-spacing: 0.02em;
                color: #FFD249;
                margin-bottom: 16px;
            }

            &__tel {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                min-height: 88px;
                margin-bottom: 16px;

                a {
                    font-family: 'e-Ukraine';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.02em;
                    color: #FFFFFF;
                }
            }

            &__social {
                display: flex;
                flex-direction: column;

                a {
                    font-family: 'e-Ukraine';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.02em;
                    color: #FFD249;
                    margin-bottom: 16px;
                }
            }
        }
    }
}