.header {
    height: 176px;
    background-color: var(--color-white);
    border-bottom: 2px solid var(--color-secondary);

    .container {
        max-width: 1270px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .wrapper {
        padding: 72px 100px 32px;
        align-items: center;
    }

    &-nav {
        display: flex;
        align-items: center;

        &-item {
            min-width: 538px;

            ul {
                display: flex;
                justify-content: space-between;

                li {
                    a {
                        text-decoration: none;
                        color: var(--color-secondary);
                        font-family: 'e-Ukraine';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        letter-spacing: 0.01em;
                    }
                }
            }
        }

        img {
            width: 72px;
            height: 72px;
            margin-right: 136px;
        }
    }

    &-button {
        border: 2px soled #343434;
    }
}