.home {
    padding-top: 64px;
    padding-bottom: 64px;
    background: #F4F4F4;

    .container {
        max-width: 1270px;
        padding: 0 15px;
        margin: 0 auto;
    }

    &-text {
        display: flex;
        justify-content: space-between;

        &-title {
            max-width: 622px;

            h2 {
                font-family: 'e-Ukraine';
                font-style: normal;
                font-weight: 700;
                font-size: 32px;
                letter-spacing: 0.02em;
                color: #343434;
                margin-bottom: 32px;
            }

            p {
                font-family: 'e-Ukraine';
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.02em;
                color: var(--color-secondary);
                margin-bottom: 26px;
            }

            .button {
                display: flex;
                margin-bottom: 32px;
                max-width: 296px;
            }
        }

        &-img {
            img {
                margin-right: -3px;
            }
        }

        .home-img {
            img {
                // max-height: 472px;
                max-width: 584px;
                // width: 100%;
                height: auto;
                border-radius: 60px 60px 60px 0
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 430px) {
    .home {
        max-height: 304px;
        padding-top: 56px;
        padding-bottom: 36px;
        background: #F4F4F4;

        .container {
            margin: 0 auto;
        }

        &-text {
            display: flex;
            justify-content: space-between;
            vertical-align: middle;

            &-title {

                margin-bottom: 32px;

                h2 {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 28px;
                    letter-spacing: 0.02em;
                    color: var(--color-secondary);
                    display: flex;
                    align-items: center;
                    text-align: center
                }

                p {
                    display: none;
                }

                .button {
                    display: none;
                }
            }

            &-img {
                display: flex;
                max-width: 420px;
                align-items: center;

                img {
                    padding: 0;
                    width: 33.33%;
                    height: auto;
                }
            }

            .home-img {
                img {
                    display: none;
                }
            }
        }
    }
}