.join {
    max-height: 168px;
    background-color: var(--color-primary);
    padding: 48px 205px;

    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1050px;
        margin: 0 auto;
        padding: 0 10px;

        .join-title {
            max-width: 672px;

            h5 {

                font-weight: 500;
                font-size: 28px;
                line-height: 36px;
                letter-spacing: 0.02em;
                color: var(--color-secondary);
            }
        }

        .button-yellow {
            border: 2px solid #343434;
        }
    }
}

@media (min-width: 320px) and (max-width: 430px) {
    .join {
        min-height: 192px;
        background-color: var(--color-primary);
        padding: 32px 0;

        &-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            max-width: 1050px;
            margin: 0 auto;
            padding: 0 10px;

            .join-title {

                h5 {
                    display: flex;
                    text-align: center;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.02em;
                    margin-bottom: 40px;
                }
            }

            .button-yellow {
                border: 2px solid #343434;
            }
        }
    }
}