.news__one {
    margin-bottom: 64px;

    &-wrapper {
        display: flex;
        justify-content: space-between;
        // width: 1132px;
    }

    &-text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // width: 60%;
        min-height: 460px;
        // margin-right: 72px;

        h2 {
            font-family: 'e-Ukraine';
            font-style: normal;
            font-weight: 500;
            font-size: 28px;
            line-height: 36px;
            letter-spacing: 0.02em;
            color: #070707;
            margin-bottom: 8px;
        }

        span {
            margin-bottom: 16px;
        }

        p {
            font-family: 'e-Ukraine';
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.02em;
            color: #000000;
            // padding-right: 51px;
            margin-bottom: 20px;
            width: 100%;

            img {
                width: 100%;
                object-fit: cover;
                border-radius: 44px 0;
                margin: 15px;
                max-width: 505px;
                max-height: 402px;
                margin: 0 0 20px 20px;
                float: right;
            }
        }
    }

    &-social {
        margin-top: 26px;
        margin-bottom: 32px;

        ul {
            display: flex;

            li {
                margin-right: 34px;
            }
        }
    }
}

.news__slider {
    margin-bottom: 100px;

    .container {
        width: 1000px;
        margin: 0 auto;
    }

    .n-slider {
        img {
            border-radius: 44px;
            margin: 0 auto;
            // min-width: 900px;
        }
    }
}



@media (min-width: 320px) and (max-width: 430px) {
    .news__one {
        // margin-bottom: 225px;
        max-width: 430px;
        margin-bottom: inherit;

        &-wrapper {
            max-width: 430px;
            flex-direction: column-reverse;
            width: inherit;
        }

        &-text {
            max-width: 556px;
            // max-height: 460px;
            margin-right: 72px;
            // margin-bottom: 170px;
            // margin-bottom: 20px;

            min-h h2 {
                width: 102%;
            }

            span {
                margin-bottom: 16px;
            }

            p {
                padding-right: inherit;
                max-width: 120%;
                width: 117%;
            }
        }

        &-img {
            margin-bottom: 40px;

            img {
                width: 100%;
                border-radius: 22px 0;
            }
        }

        &-social {
            margin-top: 26px;
            margin-bottom: 32px;

            ul {
                display: flex;

                li {
                    margin-right: 34px;
                }
            }
        }
    }

    .news__slider {
        padding-top: 30px;
        margin-bottom: 100px;
        margin: 0 auto;
        max-width: 400px;

        .container {
            width: 380px;
            margin: 0 auto;
        }

        .n-slider {
            img {
                width: 100%;
                border-radius: 22px;
                margin: 0 auto;
                // min-width: 900px;
            }
        }
    }
}