.partners {
    // padding-top: 72px;

    &-wrapper {
        h2 {
            font-family: 'e-Ukraine';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 43px;
            letter-spacing: 0.02em;
            color: #343434;
            margin-bottom: 56px;
            text-align: left;
            padding-top: 40px;
        }
    }

    .join-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 111px;

        h3 {
            font-weight: 500;
            font-size: 28px;
            line-height: 36px;
            text-align: center;
            letter-spacing: 0.02em;
            color: #000000;
            margin-bottom: 56px;
            align-items: center;
        }

        a {
            font-weight: 700;
            font-size: 20px;
            line-height: 28px;
            color: #343434;
            text-transform: inherit;
        }

    }

    &-logo {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;

        img {
            width: 10%;
            height: 100%;
        }
    }

    &__slider {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        li {
            img {
                margin: 0 auto;
                display: block;
                max-height: 124px;
                width: auto;
            }
        }
    }
}

// .foundation {
//     .partners {
//         &-slider {
//             display: flex;
//             justify-content: space-between;
//             margin-bottom: 50px;

//             img {
//                 width: 65%;
//                 height: 100%;
//             }
//         }
//     }
// }

@media (min-width: 320px) and (max-width: 430px) {
    .partners {

        h2 {
            padding-top: 0;
            margin-bottom: 24px;
            font-weight: 500;
            font-size: 28px;
            line-height: 36px;
            letter-spacing: 0.02em;
            color: #000000;
        }

        &-wrapper {
            h2 {
                font-family: 'e-Ukraine';
                font-style: normal;
                font-weight: 700;
                font-size: 36px;
                line-height: 43px;
                letter-spacing: 0.02em;
                color: #343434;
                margin-bottom: 56px;
                text-align: left;
            }
        }

        .join-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-bottom: 111px;

            h3 {
                font-weight: 500;
                font-size: 20px;
                line-height: 28px;
                text-align: center;
                max-width: 365px;
            }

            a {
                font-weight: 700;
                font-size: 19px;
                line-height: 28px;
                color: #343434;
                padding: 16px 7px;
            }
        }

        &-logo {
            display: flex;
            justify-content: space-between;
            margin-bottom: 50px;
            flex-wrap: wrap;

            img {
                width: 25%;
            }
        }
    }
}