.press {
    padding-top: 36px;
    margin-bottom: 100px;

    .container {
        h2 {
            margin-bottom: 64px;
            font-family: 'e-Ukraine';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 43px;
            letter-spacing: 0.01em;
            color: #343434;
        }
    }

    &__slider {
        max-width: 1128px;
        margin: 0 auto;

        img {
            margin: 0 auto;
        }
    }
}

@media only screen and (max-width: 430px) {
    .slick-prev {
        left: 0px;
        /* left: -25px; */
    }

    [dir=rtl] .slick-prev {
        left: auto;
        right: 0px;
        /* right: -25px; */
    }

    .slick-prev:before {
        content: "<";
    }

    [dir=rtl] .slick-prev:before {
        content: "";
    }

    .slick-next {
        right: 0px;
        /* right: -25px; */
    }

    [dir=rtl] .slick-next {
        left: 0px;
        /* left: -25px; */
        right: auto;
    }
}