@import "_var";
@import "_general";


.header {
    height: 176px;
    background-color: var(--color-white);
    border-bottom: 2px solid var(--color-secondary);

    .container {
        max-width: 1270px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .wrapper {
        padding: 72px 100px 32px;
        align-items: center;
    }

    &-nav {
        display: flex;
        align-items: center;

        &-item {
            min-width: 538px;

            ul {
                display: flex;
                justify-content: space-between;

                li {
                    a {
                        text-decoration: none;
                        color: var(--color-secondary);
                        font-family: 'e-Ukraine';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        letter-spacing: 0.01em;
                    }
                }
            }
        }

        img {
            width: 72px;
            height: 72px;
            margin-right: 136px;
        }
    }

    &-button {
        border: 2px soled #343434;
    }
}

.hub {
    padding-top: 64px;
    padding-bottom: 64px;
    background: #F4F4F4;

    .container {
        max-width: 1270px;
        padding: 0 15px;
        margin: 0 auto;
    }

    &-text {
        display: flex;
        justify-content: space-between;

        &-title {
            max-width: 622px;

            h2 {
                font-family: 'e-Ukraine';
                font-style: normal;
                font-weight: 700;
                font-size: 32px;
                letter-spacing: 0.02em;
                color: #343434;
                margin-bottom: 32px;
            }

            p {
                font-family: 'e-Ukraine';
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.02em;
                color: var(--color-secondarys);
                margin-bottom: 26px;
            }

            a {
                display: flex;
                margin-bottom: 32px;
            }
        }

        &-img {
            img {
                margin-right: -3px;
            }
        }

        .hub-img {
            img {
                max-height: 472px;
                border-radius: 60px 60px 60px 0
            }
        }
    }
}

.about {
    padding-top: 48px;
    padding-bottom: 72px;
    background-color: #fff;

    .container {
        h1 {
            font-family: 'e-Ukraine';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            text-align: center;
            letter-spacing: 0.04em;
            color: #343434;
            margin-bottom: 72px;
        }
    }

    &-wrapper {
        display: flex;
        justify-content: space-between;

        &-text {
            max-width: 571px;

            h3 {
                font-family: 'e-Ukraine';
                font-style: normal;
                font-weight: 700;
                font-size: 32px;
                line-height: 40px;
                letter-spacing: 0.04em;
                color: #343434;
                margin-bottom: 32px;
            }

            p {
                font-family: 'e-Ukraine';
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.02em;
                color: #343434;
            }
        }

        &-img {
            img {
                border-radius: 44px 0 44px 0;
            }
        }
    }
}

.projects {
    border-bottom: 2px solid var(--color-secondary);

    .container {
        h2 {
            font-family: 'e-Ukraine';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;
            letter-spacing: 0.04em;
            margin-bottom: 64px;
        }
    }

    &-wrapper {
        display: flex;
        justify-content: space-between;

        img {
            border-radius: 44px 44px 44px 0;
            margin-bottom: 64px;
        }
    }

    &-row {
        display: flex;
        justify-content: space-between;
        max-width: 612px;
    }

    &-row__first {
        h3 {
            font-family: 'e-Ukraine';
            font-style: normal;
            font-weight: 500;
            font-size: 28px;
            line-height: 34px;
            letter-spacing: 0.02em;
            color: #343434;
            margin-bottom: 45px;
            padding-right: 25px;
        }

        .number {
            font-family: 'e-Ukraine';
            font-style: normal;
            font-weight: 700;
            font-size: 128px;
            line-height: 154px;
            letter-spacing: 0.02em;
        }
    }

    &-row__second {
        max-width: 296px;
        position: relative;

        p {
            font-family: 'e-Ukraine';
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.02em;
            color: #343434;
            margin-bottom: 63px;
        }

        .button {
            width: 100%;
            font-family: 'e-Ukraine';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 28px;
            color: #343434;
            // кнопки вынести в отдельный файл
        }
    }
}

.projects-two {
    padding-top: 64px;

    .number {
        color: var(--color-primary);
    }

    img {
        border-radius: 44px 0 0 44px;
        margin-bottom: 64px;
    }
}

.projects-three {
    border-bottom: none;
    padding-top: 64px;

    .number {
        color: #000;
    }

    img {
        border-radius: 0 44px 44px 44px;
        margin-bottom: 64px;
    }
}

.join {
    max-height: 168px;
    background-color: var(--color-primary);
    padding: 48px 205px;

    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1050px;
        margin: 0 auto;
        padding: 0 10px;

        .join-title {
            max-width: 672px;

            h2 {
                font-family: 'e-Ukraine';
                font-style: normal;
                font-weight: 500;
                font-size: 28px;
                line-height: 36px;
                letter-spacing: 0.02em;
                color: #343434;
            }
        }

        .button-yellow {
            border: 2px solid #343434;
        }
    }
}

.partners {
    padding-top: 80px;
    margin-bottom: 50px;

    &-wrapper {
        h2 {
            font-family: 'e-Ukraine';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 43px;
            letter-spacing: 0.02em;
            color: #343434;
            margin-bottom: 56px;
        }
    }

    &-logo {
        display: flex;
        justify-content: space-between;
    }
}

.news {
    padding-top: 50px;
    margin-bottom: 35px;

    .container {
        .button {
            text-transform: none;
            margin-bottom: 56px;
        }
    }

    &-nav {
        display: flex;
        justify-content: space-between;

        h2 {
            color: var(--color-secondary);
            font-family: 'e-Ukraine';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 43px;
            letter-spacing: 0.02em;
        }

    }

    &-block {
        display: flex;
        justify-content: space-between;

        &-item {
            max-width: 400px;

            img {
                margin-bottom: 32px;
            }

            h4 {
                font-family: 'e-Ukraine';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 28px;
                color: #343434;
                margin-bottom: 16px;
            }

            p {
                font-family: 'e-Ukraine';
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.02em;
                color: #343434;
                margin-bottom: 20px;
            }

            span {
                font-family: 'e-Ukraine';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 0.02em;
                color: #343434;
            }
        }
    }
}

.opinions {
    padding-top: 37px;

    .container {
        h2 {
            font-family: 'e-Ukraine';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 43px;
            letter-spacing: 0.02em;
            color: #343434;
            margin-bottom: 32px;
        }

        a {
            display: flex;
            align-items: center;
            margin-bottom: 70px;

            p {
                margin-right: 10px;
                font-family: 'e-Ukraine';
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 24px;
                display: flex;
                align-items: center;
                letter-spacing: 0.02em;
                color: #343434;
            }

            img {
                width: 24px;
                height: 10px;
            }
        }

    }

    &-block {
        display: flex;
        justify-content: space-between;

        &-item {
            position: relative;
            max-width: 351px;
            max-height: 388px;
            border: 2px solid var(--color-primary);
            padding: 48px 20px;

            &-wrapper {
                display: flex;

                img {
                    height: 120px;
                    width: 120px;
                    margin-right: 12px;
                }

                h5 {
                    font-family: 'e-Ukraine';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 28px;
                    letter-spacing: 0.02em;
                    color: #343434;
                    margin-bottom: 4px;
                }

                p {
                    font-family: 'e-Ukraine';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0.02em;
                    color: #343434;
                    margin-bottom: 72px;
                }
            }

            span {
                position: absolute;
                top: -30px;
                left: -5px;

                img {}
            }
        }


    }

    &-text {
        font-family: 'e-Ukraine';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        /* or 143% */

        letter-spacing: 0.02em;

        /* secondary/black */

        color: #343434;
    }
}