:root {
  --color-primary: #FFD249;
  --color-secondary: #343434;
  --color-white: #FFF;
  --color-black: #000;
}

@font-face {
  font-family: "e-Ukraine";
  src: url("./libs/Fonts/e-Ukraine/e-Ukraine-Regular.otf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "e-Ukraine";
  src: url("./libs/Fonts/e-Ukraine/e-Ukraine-Bold.otf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "e-Ukraine";
  src: url("./libs/Fonts/e-Ukraine/e-Ukraine-Light.otf");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "e-Ukraine";
  src: url("./libs/Fonts/e-Ukraine/e-Ukraine-Medium.otf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

.button {
  font-family: "e-Ukraine";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  background-color: var(--color-white);
  border: 2px solid var(--color-secondary);
  padding: 16px 68px;
  border-radius: 4px;
  font-weight: 700;
  cursor: pointer;
}

.button-yellow {
  flex-direction: row;
  align-items: flex-start;
  width: 296px;
  border: none;
  background: #FFD249;
  border-radius: 4px;
}

body {
  background-color: #fff;
}

.container {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}

.button__yellow {
  background-color: var(--color-primary);
  border: none;
}

.header {
  height: 176px;
  background-color: var(--color-white);
  border-bottom: 2px solid var(--color-secondary);
}

.header .container {
  max-width: 1270px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header .wrapper {
  padding: 72px 100px 32px;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-item {
  min-width: 538px;
}

.header-nav-item ul {
  display: flex;
  justify-content: space-between;
}

.header-nav-item ul li a {
  text-decoration: none;
  color: var(--color-secondary);
  font-family: "e-Ukraine";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.01em;
}

.header-nav img {
  width: 72px;
  height: 72px;
  margin-right: 136px;
}

.header-button {
  border: 2px soled #343434;
}

.hub {
  padding-top: 64px;
  padding-bottom: 64px;
  background: #F4F4F4;
}

.hub .container {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}

.hub-text {
  display: flex;
  justify-content: space-between;
}

.hub-text-title {
  max-width: 622px;
}

.hub-text-title h2 {
  font-family: "e-Ukraine";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 0.02em;
  color: #343434;
  margin-bottom: 32px;
}

.hub-text-title p {
  font-family: "e-Ukraine";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--color-secondarys);
  margin-bottom: 26px;
}

.hub-text-title a {
  display: flex;
  margin-bottom: 32px;
}

.hub-text-img img {
  margin-right: -3px;
}

.hub-text .hub-img img {
  max-height: 472px;
  border-radius: 60px 60px 60px 0;
}

.about {
  padding-top: 48px;
  padding-bottom: 72px;
  background-color: #fff;
}

.about .container h1 {
  font-family: "e-Ukraine";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #343434;
  margin-bottom: 72px;
}

.about-wrapper {
  display: flex;
  justify-content: space-between;
}

.about-wrapper-text {
  max-width: 571px;
}

.about-wrapper-text h3 {
  font-family: "e-Ukraine";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.04em;
  color: #343434;
  margin-bottom: 32px;
}

.about-wrapper-text p {
  font-family: "e-Ukraine";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #343434;
}

.about-wrapper-img img {
  border-radius: 44px 0 44px 0;
}

.projects {
  border-bottom: 2px solid var(--color-secondary);
}

.projects .container h2 {
  font-family: "e-Ukraine";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.04em;
  margin-bottom: 64px;
}

.projects-wrapper {
  display: flex;
  justify-content: space-between;
}

.projects-wrapper img {
  border-radius: 44px 44px 44px 0;
  margin-bottom: 64px;
}

.projects-row {
  display: flex;
  justify-content: space-between;
  max-width: 612px;
}

.projects-row__first h3 {
  font-family: "e-Ukraine";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.02em;
  color: #343434;
  margin-bottom: 45px;
  padding-right: 25px;
}

.projects-row__first .number {
  font-family: "e-Ukraine";
  font-style: normal;
  font-weight: 700;
  font-size: 128px;
  line-height: 154px;
  letter-spacing: 0.02em;
}

.projects-row__second {
  max-width: 296px;
  position: relative;
}

.projects-row__second p {
  font-family: "e-Ukraine";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #343434;
  margin-bottom: 63px;
}

.projects-row__second .button {
  width: 100%;
  font-family: "e-Ukraine";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #343434;
}

.projects-two {
  padding-top: 64px;
}

.projects-two .number {
  color: var(--color-primary);
}

.projects-two img {
  border-radius: 44px 0 0 44px;
  margin-bottom: 64px;
}

.projects-three {
  border-bottom: none;
  padding-top: 64px;
}

.projects-three .number {
  color: #000;
}

.projects-three img {
  border-radius: 0 44px 44px 44px;
  margin-bottom: 64px;
}

.join {
  max-height: 168px;
  background-color: var(--color-primary);
  padding: 48px 205px;
}

.join-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 10px;
}

.join-wrapper .join-title {
  max-width: 672px;
}

.join-wrapper .join-title h2 {
  font-family: "e-Ukraine";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0.02em;
  color: #343434;
}

.join-wrapper .button-yellow {
  border: 2px solid #343434;
}

.partners {
  padding-top: 80px;
  margin-bottom: 50px;
}

.partners-wrapper h2 {
  font-family: "e-Ukraine";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.02em;
  color: #343434;
  margin-bottom: 56px;
}

.partners-logo {
  display: flex;
  justify-content: space-between;
}

.news {
  padding-top: 50px;
  margin-bottom: 35px;
}

.news .container .button {
  text-transform: none;
  margin-bottom: 56px;
}

.news-nav {
  display: flex;
  justify-content: space-between;
}

.news-nav h2 {
  color: var(--color-secondary);
  font-family: "e-Ukraine";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.02em;
}

.news-block {
  display: flex;
  justify-content: space-between;
}

.news-block-item {
  max-width: 400px;
}

.news-block-item img {
  margin-bottom: 32px;
}

.news-block-item h4 {
  font-family: "e-Ukraine";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #343434;
  margin-bottom: 16px;
}

.news-block-item p {
  font-family: "e-Ukraine";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #343434;
  margin-bottom: 20px;
}

.news-block-item span {
  font-family: "e-Ukraine";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #343434;
}

.opinions {
  padding-top: 37px;
}

.opinions .container h2 {
  font-family: "e-Ukraine";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.02em;
  color: #343434;
  margin-bottom: 32px;
}

.opinions .container a {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}

.opinions .container a p {
  margin-right: 10px;
  font-family: "e-Ukraine";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #343434;
}

.opinions .container a img {
  width: 24px;
  height: 10px;
}

.opinions-block {
  display: flex;
  justify-content: space-between;
}

.opinions-block-item {
  position: relative;
  max-width: 351px;
  max-height: 388px;
  border: 2px solid var(--color-primary);
  padding: 48px 20px;
}

.opinions-block-item-wrapper {
  display: flex;
}

.opinions-block-item-wrapper img {
  height: 120px;
  width: 120px;
  margin-right: 12px;
}

.opinions-block-item-wrapper h5 {
  font-family: "e-Ukraine";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #343434;
  margin-bottom: 4px;
}

.opinions-block-item-wrapper p {
  font-family: "e-Ukraine";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #343434;
  margin-bottom: 72px;
}

.opinions-block-item span {
  position: absolute;
  top: -30px;
  left: -5px;
}

.opinions-text {
  font-family: "e-Ukraine";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #343434;
}